<script>
import { GlNavbar, GlLink } from '@gitlab/ui';

export default {
  components: {
    GlLink,
    GlNavbar,
  },
};
</script>

<template>
  <header>
    <gl-navbar
      fixed
      class="header gl-h-8 gl-z-index-2 gl-display-flex gl-justify-content-space-between gl-fixed gl-px-5 gl-mb-0 gl-border-b-solid gl-border-b-1 gl-border-gray-200 gl-top-0 gl-left-0 gl-right-0"
      data-qa-selector="navbar"
    >
      <div class="gl-display-inline-flex gl-align-items-center">
        <img src="/images/brendan_avatar.png" style="width: 2.2rem;" />
        Brendan O'Leary
      </div>
      <div class="gl-display-inline-flex gl-align-items-center">
        <gl-link
          class="gl-p-3 gl-transition-slow gl-text-decoration-none gl-font-weight-bold theme-indigo-900"
          href="https://boleary.dev/contact/"
          >Contact Me</gl-link
        >
      </div>
    </gl-navbar>
  </header>
</template>
