<script>
import { BdoHead } from '~/components';

export default {
  components: {
    BdoHead,
  },
};
</script>

<template>
  <div class="gl-relative">
    <transition name="slide">
      <div>
        <bdo-head />
        <div class="gl-mx-8 gl-my-9 gl-mt-6">
          <router-view />
        </div>
      </div>
    </transition>
  </div>
</template>
